// COMMON :: START

.social {
	display: flex;
	flex-direction: column;

	&__item {
		display: flex;
	}

	&__title,
	&__desc,
	&__link {
		font-size: 15px;
		line-height: 21px;
		@include adaptive(1279) {
			font-size: 13px;
		}
	}

	&__title,
	&__desc {
		color: #8e8e8e;
	}

	&__link {
		position: relative;
		color: #000;
		@include transition(color);

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: 100%;
			width: 0;
			height: 1px;
			background-color: #0e65f3;
			backface-visibility: hidden;
			@include transition(width);
		}

		&:before {
			left: 50%;
		}
		&:after {
			right: 50%;
		}

		&:hover {
			color: #0e65f3;
			@include transition(color);

			&:before,
			&:after {
				width: 50%;
				@include transition(width);
			}
		}
	}
}

.copyright {
	&__text {
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 0.09em;
		line-height: 42px;
		text-align: center;
		color: #fff;
	}
}

.top {
	display: flex;
	align-items: center;

	&__text {
		padding-top: 10px;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 14px;
		letter-spacing: 0.09em;
		line-height: 42px;
		color: #fff;
	}

	svg {
		margin-left: 12px;
	}
}

.c-checkbox {
	position: relative;

	&--footer {
		.c-checkbox {
			&__input {
				&:checked {
					& + .c-checkbox__label {
						i {
							background-color: #8E8E8E;
							@include transition(background-color);
						}
					}
				}
			}

			&__label {
				i {
					border-color: #8E8E8E;
				}

				span {
					font-size: 14px;
					line-height: 26px;
					color: #8e8e8e;

					a {
						color: #8e8e8e;
					}
				}
			}
		}
	}

	&__input {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		width: 0;
		height: 0;

		&:checked {
			& + .c-checkbox__label {
				i {
					background-color: #0e65f3;
					@include transition(background-color);

					svg {
						opacity: 1;
						visibility: visible;
						@include transition(opacity, visibility);
					}
				}
			}
		}
	}

	&__label {
		cursor: pointer;
		display: flex;
		align-items: center;
		width: 100%;

		i {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 28px;
			height: 28px;
			border: 1px solid #0e65f3;
			@include transition(background-color);
			@include adaptive(1279) {
				width: 24px;
				height: 24px;
			}

			svg {
				opacity: 0;
				visibility: hidden;
				@include transition(opacity, visibility);
			}
		}

		span {
			padding-left: 53px;
			font-size: 24px;
			color: #000;
			@include adaptive(1279) {
				font-size: 20px;
			}

			a {
				text-decoration: underline;
				@include transition(color);

				&:hover {
					color: #fff;
					@include transition(color);
				}
			}
		}
	}
}

@keyframes hoverBtn {
	0% { transform: translateX(0); }
	51% {
		opacity: 1;
		transform: translateX(30px);
	}
	52% {
		opacity: 0;
		transform: translateX(-55px);
	}
	53% { opacity: 0; }
	54% { opacity: 1;}
	100% { transform: translateX(0); }
}

// COMMON :: END
