// SECTION :: START

section#forms.forms
	.c-grid

		.forms__wrapper

			p.forms__desc(data-aos="fade-up") Perhaps there’s a way your business could benefit from simplifying a process or experience? Please share your thoughts in the form below and we’ll be in touch.

			form.forms__form(action='' method='' autocomplete='off')
				.forms__form-field(data-aos="fade-up")
					p.forms__form-text My name is
					input.forms__form-input(type='text' name='' placeholder='Full name')
					p.forms__form-text and,
				.forms__form-field(data-aos="fade-up")
					p.forms__form-text I work at
					input.forms__form-input(type='text' name='' placeholder='Company name')
					p.forms__form-text . I’m looking for a partner to help
				.forms__form-field(data-aos="fade-up")
					p.forms__form-text me with
					input.forms__form-input(type='text' name='' placeholder='My goal')
					p.forms__form-text , with an idea of having that
				.forms__form-field(data-aos="fade-up")
					p.forms__form-text completed on
					input.forms__form-input(type='text' name='' placeholder='Date')
					p.forms__form-text . I am hoping to
				.forms__form-field(data-aos="fade-up")
					p.forms__form-text stay around a budget range of
					select.forms__form-input(name='')
						option(value='' selected disabled) Select
						option(value='') Action 1
						option(value='') Action 2
					p.forms__form-text .
				.forms__form-field(data-aos="fade-up")
					p.forms__form-text You can reach me at
					input.forms__form-input(type='email' name='' placeholder='Email address')
					p.forms__form-text to start the conversation.
				.forms__form-field.forms__form-field--textarea(data-aos="fade-up")
					p.forms__form-text Optionally, I’m sharing more
					textarea.forms__form-textarea(name='' placeholder='Product details')
				.forms__form-field.forms__form-field--btn(data-aos="fade-up")
					button.forms__form-btn(type='submit') SEND

		.forms__content

			.forms__block(data-aos="fade-up")
				p.forms__block-text We offer exactly what you need. There are a lot of ideas, but there is only one solution - the most effective one.

// SECTION :: END
