// SECTION :: START

section#c-main.c-main
	.c-grid
		.c-main__wrapper

			p.c-main__label.c-label(data-aos="fade-up")
				span.c-label__line
				span contact

			.c-main__title.c-title.c-title--big(data-aos="fade-up" data-aos-delay='100')
				p Hello, let’s talk
				img(src="img/img-contacts-main-arrow.svg" alt="" data-aos="fade-up" data-aos-delay='125')

		.c-main__content(data-aos="fade-up" data-aos-delay='150')
			p.forms__title.c-title!= "— Interested in working with us?<br>We’d love to hear from you."

// SECTION :: END
