// SECTION :: START

section#c-main.c-main
	.c-grid
		.c-main__wrapper

			p.c-main__label.c-label
				span.c-label__line
				span contact

			.c-main__title
				p Hello, let’s talk
				img(src="img/img-contacts-main-arrow.svg" alt="")

		.c-main__content
			p.forms__title.c-title!= "— Interested in working with us?<br>We’d love to hear from you."

// SECTION :: END
