// SECTION :: START

section#details-welcome.details-welcome
	.c-grid

		.details-welcome__label.c-label.c-label--dark(data-aos="fade-up")
			span.c-label__line
			span Website Design & Development

		.details-welcome__wrapper

			p.details-welcome__title.c-title.c-title--dark(data-aos="fade-up" data-aos-delay='100')!= "Your digital <br>storefront"

			.details-welcome__content

				.details-welcome__desc-wrapper(data-aos="fade-up" data-aos-delay='150')
					p.details-welcome__desc A website is the backbone of any business’ online presence. Our experienced developers understand that the digital habits of consumers are always changing, and our designs reflect the most up-to-date and creative approach to web design and development. Integrating shifting user habits with strong technology greatly improves the user experience. We design websites that engage and captivate audiences and develop websites to take advantage of the latest coding techniques to optimize search engine rankings. A new or updated website will improve your online presence and online search results, make your website responsive, and deliver an incredible user-experience to increase conversion and website traffic.

				ul.details-welcome__list(data-aos="fade-up")
					li
						p • User Interface Design
					li
						p • UX Strategies
					li
						p • Responsive & Adaptive Design Strategies
					li
						p • SEM & SEO
					li
						p • CMS & API Integration
					li
						p • Backend & Frontend Development
					li
						p • Technical & Coding Best Practice Audits
					li
						p • E-commerce

// SECTION :: END
