// SECTION :: START

section#details-welcome.details-welcome
	.c-grid

		.details-welcome__label.c-label.c-label--dark
			span.c-label__line
			span Brand Marketing

		.details-welcome__wrapper

			p.details-welcome__title.c-title.c-title--dark!= "Who is your <br><span>brand?</span>"

			.details-welcome__content

				.details-welcome__desc-wrapper
					p.details-welcome__desc Branding, at its core, is the process of building an identity that will become the foundation for the future of your business. Our team of creative and branding experts will go beyond simple logo design and naming options, to create a memorable identity that will truly resonate with audiences.
					p.details-welcome__desc We guide you through a proven five step process to tailor create your brand, marketing assets and communication strategy so your positioned to be best-in-class and best-positioned to enter the market and make a successful impact across both digital and traditional marketing channels.

				ul.details-welcome__list
					li
						p • Naming
					li
						p • Brand Positioning
					li
						p • Visual Identity Design
					li
						p • Collateral
					li
						p • Brand Marketing

// SECTION :: END
