// SECTION :: START

section#details-list.details-list
	.c-grid

		.details-list__wrapper

			p.details-list__title.c-title.c-title--dark!= "Our Five-Step <br>Process to <span>success</span>"

			.details-list__content
				.details-list__content-left
					p.details-list__num.c-title.c-title--dark 01
				.details-list__content-right
					p.details-list__subtitle Discovery
					ul
						li Auditing Current Marketing Communications, Brand and Market Approach
						li Interview Internal Stakeholders & Vested Parties
						li Audit Competitors Brands, Marketing and Communications

			.details-list__content
				.details-list__content-left
					p.details-list__num.c-title.c-title--dark 02
				.details-list__content-right
					p.details-list__subtitle Identification
					ul
						li Develop/Confirm Value Proposition
						li Define Brand Positioning
						li Determine Brand Voice
						li Define Key Messaging (Website, Social, Literature & Collateral, etc.)

			.details-list__content
				.details-list__content-left
					p.details-list__num.c-title.c-title--dark 03
				.details-list__content-right
					p.details-list__subtitle!= "Develop Marketing Leading Creative <br>Elements and Assets"
					ul
						li Design
						li Website
						li Collateral and Marketing Materials
						li Digital Marketing

			.details-list__content.details-list__content--pb0
				.details-list__content-left
					p.details-list__num.c-title.c-title--dark 04
				.details-list__content-right
					p.details-list__subtitle!= "Develop a Content Strategy & <br>Distribution Strategy"

			.details-list__content
				.details-list__content-left
					p.details-list__num.c-title.c-title--dark 05
				.details-list__content-right
					p.details-list__subtitle Execution & Go-to-Market

// SECTION :: END
