// SECTION :: START

section#details-main.details-main
	.c-grid
		.details-main__wrapper
			.details-main__wrapper-left

				p.details-main__title.c-title(data-aos="fade-up")!= "Graphic Design <br>& Communication"

			.details-main__wrapper-right
				.details-main__img(data-aos="fade-up" data-aos-delay='100')
					img.lazy(
						src="img/img-details-graphic.jpg"
						data-src="img/img-details-graphic.jpg"
						data-srcset="img/img-details-graphic@2x.jpg 2x" alt="")

// SECTION :: END
