// SECTION :: START

section#details-main.details-main
	.c-grid
		.details-main__wrapper
			.details-main__wrapper-left

				p.details-main__title.c-title!= "Graphic Design <br>& Communication"

			.details-main__wrapper-right
				.details-main__img
					img(src="img/img-details-graphic.jpg" srcset="img/img-details-graphic@2x.jpg 2x" alt="")

// SECTION :: END
