// SECTION :: START

section#details-main.details-main
	.c-grid
		.details-main__wrapper
			.details-main__wrapper-left

				p.details-main__title.c-title.c-title--big!= "Website Design <br>& Development"

			.details-main__wrapper-right
				.details-main__img
					img(src="img/img-details-website.jpg" srcset="img/img-details-website@2x.jpg 2x" alt="")

// SECTION :: END
