// SECTION :: START

section#details-main.details-main
	.c-grid
		.details-main__wrapper
			.details-main__wrapper-left

				p.details-main__title.c-title!= "Brand <br>Marketing"

			.details-main__wrapper-right
				.details-main__img
					img.lazy(
						src="img/img-details-brand.jpg"
						data-src="img/img-details-brand.jpg"
						data-srcset="img/img-details-brand@2x.jpg 2x" alt="")


// SECTION :: END
