// SECTION :: START

section#details-main.details-main
	.c-grid
		.details-main__wrapper
			.details-main__wrapper-left

				p.details-main__title.c-title!= "Social Media <br>& Online Ads <br>Management"

			.details-main__wrapper-right
				.details-main__img
					img(src="img/img-details-social.jpg" srcset="img/img-details-social@2x.jpg 2x" alt="")

// SECTION :: END
