// SECTION :: START

section#details-welcome.details-welcome
	.c-grid

		.details-welcome__label.c-label.c-label--dark
			span.c-label__line
			span Graphic Design & Communication

		.details-welcome__wrapper

			p.details-welcome__title.c-title.c-title--dark!= "What catches the eye, <br>captures the mind"

			.details-welcome__content

				.details-welcome__desc-wrapper
					p.details-welcome__desc Our team of talented designers create memorable designs, and with few words tell stories that speak directly to the core of your brand identity. From labels to logos, billboards to Facebook advertisements, strong consistent graphic design communicates identity and brand values regardless of where it appears.

				ul.details-welcome__list
					li
						p • Naming
					li
						p • Logo design
					li
						p • Typography
					li
						p • Labels
					li
						p • Packaging
					li
						p • Corporate Presentations
					li
						p • Print Advertising
					li
						p • Video Production
					li
						p • Out of Home

// SECTION :: END
