// SECTION :: START

section#details-main.details-main
	.c-grid
		.details-main__wrapper
			.details-main__wrapper-left

				p.details-main__title.c-title!= "Content <br>Marketing <br>& Public Relations"

			.details-main__wrapper-right
				.details-main__img
					img(src="img/img-details-content.jpg" srcset="img/img-details-content@2x.jpg 2x" alt="")

// SECTION :: END
