// SECTION :: START

section#details-welcome.details-welcome
	.c-grid

		.details-welcome__label.c-label.c-label--dark(data-aos="fade-up")
			span.c-label__line
			span Content Marketing & Public Relations

		.details-welcome__wrapper

			p.details-welcome__title.c-title.c-title--dark(data-aos="fade-up" data-aos-delay='100')!= "Good news <br>travels fast"

			.details-welcome__content

				.details-welcome__desc-wrapper(data-aos="fade-up" data-aos-delay='150')
					p.details-welcome__desc Businesses benefit greatly from providing audiences with value-added content. A well-developed content marketing plan delivers content to audiences at the right place and time. Strategic release of educational articles, e-books, video, podcasts and other engaging forms of content offer audiences a unique way to engage with your business.

				ul.details-welcome__list(data-aos="fade-up")
					li
						p • Content Strategy & Creation
					li
						p • Press Release Writing and Distribution
					li
						p • Email Marketing

// SECTION :: END
