// SECTION :: START

section#details-description.details-description
	.c-grid
		.details-description__wrapper

			p.details-description__title.c-title.c-title--dark(data-aos="fade-up") Brand Development

			.details-description__content(data-aos="fade-up")

				p.details-description__desc Become the brand you always wished to be with the power of our agency at your back. Our team of brand experts will develop, define or refine your value proposition, brand positioning, key message, website design, digital marketing, social media, advertising to ensure your brand grows by reaching the audiences that matter most.

			p.details-description__title.c-title.c-title--dark(data-aos="fade-up") Logo Design

			.details-description__content(data-aos="fade-up")

				p.details-description__desc A well designed logo is the foundation of your consumer facing brand identity. Imagine any top brand and we bet you can picture their logo. A strong business and powerful logo go hand in hand. Have yours designed by our creative and dedicated design team.

			p.details-description__title.c-title.c-title--dark(data-aos="fade-up") Name Creation

			.details-description__content(data-aos="fade-up")

				p.details-description__desc Selecting a name is one of the most important early decisions a brand can make. Let our creative team brainstorm a list of options that speak to the core of your business’ ethos.

			p.details-description__title.c-title.c-title--dark(data-aos="fade-up") Brand Positioning

			.details-description__content(data-aos="fade-up")

				p.details-description__desc How will your brand be different from the rest, and what is the most effective approach to your online and offline marketing? We help brands determine the best course of action, positioning brands in distinct ways to reach growing and dedicated audiences with impactful marketing.

			p.details-description__title.c-title.c-title--dark(data-aos="fade-up") Typography

			.details-description__content(data-aos="fade-up")

				p.details-description__desc Typography is an art and it’s one that we’ve mastered. We understand the importance of typography and will guide you through our clearly defined process of defining your goals, determining the best fit and bringing it to life.

			p.details-description__title.c-title.c-title--dark(data-aos="fade-up")!= "Integrated <br>Communication"

			.details-description__content(data-aos="fade-up")

				p.details-description__desc As a full service marketing agency we offer a holistic approach to accomplishing your advertising objectives. You can rely on us to create a strategy that incorporates multiple marketing platforms, guaranteeing audiences are exposed to your brand at multiple touch-points.

			p.details-description__title.c-title.c-title--dark(data-aos="fade-up")!= "Marketing Strategy"

			.details-description__content(data-aos="fade-up")

				p.details-description__desc Become the brand you always wished to be with the power of our agency at your back. From SEO to social media ads we will guarantee your brand grows by reaching the audiences that matter most.


// SECTION :: END
