// SECTION :: START

.a-main {
	position: relative;
	padding-top: 327px;
	padding-bottom: 359px;
	background-color: $c-black;
	background-image: url('../img/img-about-main-bg@2x.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&:after {
		content: '';
		z-index: 2;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 324px;
		background: linear-gradient(rgba(0, 0, 0, 0) 0%, #000 100%);
	}

	&__label {
		padding-bottom: 22px;
	}

	&__title {
		font-weight: bold;
		font-size: 110px;
		line-height: 110px;
		text-align: left;
		color: #fff;
	}
}

// SECTION :: END
