// SECTION :: START

.a-main {
	position: relative;
	padding-top: 327px;
	padding-bottom: 359px;
	background-color: $c-black;
	background-image: url('../img/img-about-main-bg@2x.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	@include adaptive(1279) {
		padding-top: 297px;
		padding-bottom: 259px;
	}
	@include adaptive(1023) {
		padding-bottom: 189px;
	}
	@include adaptive(767) {
		padding-top: 231px;
		padding-bottom: 200px;
	}

	&:after {
		content: '';
		z-index: 2;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 324px;
		background: linear-gradient(rgba(0, 0, 0, 0) 0%, #000 100%);
		@include adaptive(767) {
			height: 200px;
		}
	}

	&__label {
		padding-bottom: 22px;
		@include adaptive(767) {
			padding-bottom: 20px;
		}
	}

	&__title {
		color: #fff;
		@include adaptive(767) {
			br {
				display: none;
			}
		}
	}
}

// SECTION :: END
