// SECTION :: START

.roadmap {
	padding-top: 163px;
	padding-bottom: 234px;

	&__wrapper {
		padding-left: 63px;
	}

	&__title {
		padding-bottom: 68px;
	}

	&__desc {
		width: 100%;
		max-width: 950px;
		padding-bottom: 94px;
		font-size: 24px;
		line-height: 38px;
		color: #000;
	}

	&__img {
		position: relative;
		left: -25px;
		display: block;
		max-width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 28px;
	}

	&__box {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 100%;
		padding-right: 60px;

		&-wrapper {
			display: flex;

			> div {
				width: 100%;
				max-width: calc(100% / 5);
			}
		}

		&-head {
			padding-bottom: 32px;
		}

		&-body {
			position: relative;
			padding-left: 45px;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 9px;
				height: 53px;
				background-color: #0e65f3;
			}
		}

		&-title {
			text-transform: uppercase;
			font-weight: bold;
			font-size: 24px;
			line-height: 30px;
			color: #000;

			span {
				color: #0e65f3;
			}
		}

		&-desc {
			//width: 100%;
			//width: 213px;
			font-size: 18px;
			line-height: 31px;
			color: #8e8e8e;
		}
	}
}

// SECTION :: END
