// SECTION :: START

.roadmap {
	padding-top: 163px;
	padding-bottom: 234px;
	@include adaptive(1279) {
		padding-top: 133px;
		padding-bottom: 173px;
	}
	@include adaptive(767) {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	&__wrapper {
		padding-left: 63px;
		@include adaptive(1023) {
			padding-left: 0;
		}
	}

	&__title {
		padding-bottom: 68px;
		@include adaptive(1023) {
			padding-bottom: 48px;
		}
		@include adaptive(767) {
			padding-bottom: 40px;
		}
	}

	&__desc {
		width: 100%;
		max-width: 950px;
		padding-bottom: 94px;
		font-size: 24px;
		line-height: 38px;
		color: #000;
		@include adaptive(1365) {
			font-size: 22px;
		}
		@include adaptive(1023) {
			font-size: 20px;
		}
		@include adaptive(767) {
			padding-bottom: 75px;
			font-size: 18px;
		}
	}

	&__img {
		position: relative;
		left: -25px;
		display: block;
		max-width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 28px;
		@include adaptive(1023) {
			left: 0;
		}
		@include adaptive(767) {
			display: none;
		}
	}

	&__box {
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 100%;
		padding-right: 60px;
		@include adaptive(1535) {
			padding-right: 30px;
		}
		@include adaptive(1279) {
			padding-right: 20px;
		}
		@include adaptive(1023) {
			padding-right: 10px;
		}

		&-wrapper {
			display: flex;
			@include adaptive(767) {
				flex-wrap: wrap;
			}

			> div {
				width: 100%;
				max-width: calc(100% / 5);
				@include adaptive(1279) {
					&:last-of-type {
						.roadmap__box {
							padding-right: 0;
						}
					}
				}

				@include adaptive(767) {
					max-width: 100%;

					&:not(:last-of-type) {
						padding-bottom: 20px;
					}
				}
			}
		}

		&-head {
			padding-bottom: 32px;
			@include adaptive(1023) {
				padding-bottom: 23px;
			}
		}

		&-body {
			position: relative;
			padding-left: 45px;
			@include adaptive(1279) {
				padding-left: 25px;
			}
			@include adaptive(1023) {
				padding-left: 15px;
			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 9px;
				height: 53px;
				background-color: #0e65f3;
				@include adaptive(1279) {
					width: 5px;
				}
				@include adaptive(767) {
					height: 100%;
				}
			}
		}

		&-title {
			text-transform: uppercase;
			font-weight: bold;
			font-size: 24px;
			line-height: 30px;
			color: #000;
			@include adaptive(1365) {
				font-size: 22px;
			}
			@include adaptive(1279) {
				font-size: 20px;
			}
			@include adaptive(1023) {
				font-size: 18px;
			}

			span {
				color: #0e65f3;
			}
		}

		&-desc {
			font-size: 18px;
			line-height: 31px;
			color: #8e8e8e;
			@include adaptive(1365) {
				font-size: 16px;
			}
		}
	}
}

// SECTION :: END
