---
title: BloomTec | About Us

pageClassName: p-abouts
---
extends shared/_layout

block header
	include components/common/_header--light

block content
	div.body.body--start(class!= pageClassName)

		include components/abouts/_main
		include components/abouts/_mission
		include components/abouts/_roadmap

		include components/common/_clients
