---
title: BloomTec | What We Do | Brand Marketing

pageClassName: p-whatWeDo-inner
---
extends shared/_layout

block content
	div.body.body--start(class!= pageClassName)

		include components/details/_details-main-1
		include components/details/_details-welcome-1
		include components/details/_details-list
		include components/details/_details-description-1

		include components/common/_request
		include components/common/_clients
