---
title: BloomTec | What We Do | Content Marketing & Public Relations

pageClassName: p-whatWeDo-inner
---
extends shared/_layout

block content
	div.body.body--start(class!= pageClassName)

		include components/details/_details-main-5
		include components/details/_details-welcome-5

		include components/common/_request
		include components/common/_clients
