---
title: BloomTec

pageClassName: p-home
---
extends shared/_layout

block content
	div.body.body--start(class!= pageClassName)

		include components/homepage/_portfolio
		include components/homepage/_do

		include components/common/_request
