---
title: BloomTec | What We Do | Social Media& Online Ads Management

pageClassName: p-whatWeDo
---
extends shared/_layout

block content
	div.body.body--start(class!= pageClassName)

		include components/common/_request
		include components/common/_clients
