---
title: BloomTec | What We Do | Website Design & Development

pageClassName: p-whatWeDo-inner
---
extends shared/_layout

block content
	div.body.body--start(class!= pageClassName)

		include components/common/_request
		include components/common/_clients
