// HEADER :: START

header#header.header.header--light

	.c-grid

		.header__wrapper
			.header__wrapper-left

				.logo.logo--header
					a.logo__btn(href="/")
						img.logo__img(src="img/logo--light.svg" alt="")

				ul.social
					li.social__item
						p.social__title Follow us on
					li.social__item
						a.social__link(href="#") Instagram,
					li.social__item
						a.social__link(href="#") Dribbble,
					li.social__item
						a.social__link(href="#") Linkedin
						span.social__title!= "&nbsp;and"
					li.social__item
						a.social__link(href="#") Twitter

			.header__wrapper-right

				.header__nav
					.header__nav-left

						ul.header__nav-list
							li.header__nav-item
								a.header__nav-link(href="#")
									span HOME
							li.header__nav-item
								a.header__nav-link(href="#" class!= (pageClassName === 'p-abouts')?"is-active":"")
									span About US
							li.header__nav-item
								a.header__nav-link(href="#")
									span Portfolio
							li.header__nav-item
								a.header__nav-link(href="#" class!= (pageClassName === 'p-whatWeDo')?"is-active":"")
									span Services
							li.header__nav-item
								a.header__nav-link(href="#" class!= (pageClassName === 'p-contacts')?"is-active":"")
									span Contact

					.header__nav-right
						a.header__btn(href="#" menu-toggle-js)
							span GET ESTIMATION

// HEADER :: END
