// SECTION :: START

.do {
	padding-top: 318px;
	padding-bottom: 210px;
	background-color: $c-black;

	&__wrapper {
		padding-left: 63px;
	}

	&__title {
		padding-bottom: 90px;
	}

	&__content {
		width: 100%;
		max-width: 1163px;
		padding-left: 213px;
	}

	&__subtitle {
		padding-bottom: 40px;
		font-weight: bold;
		font-size: 34px;
		line-height: 30px;
		color: #fff;
	}

	&__desc {
		padding-bottom: 39px;
		font-size: 24px;
		line-height: 38px;
		color: #fff;

		&:last-of-type {
			padding-bottom: 50px;
		}
	}
}

// SECTION :: END
