// BUTTON :: START

.c-btn {
  outline: none;
  cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 61px;
	padding-left: 32px;
	border: none;
	box-shadow: none;
	border-radius: 0;
	background-color: transparent;

	&:hover {
		&:before {
			width: 100%;
			@include transition(width);
		}

		span {
			color: $c-white;
			@include transition(color);
		}

		svg {
			stroke: $c-white;
			transform: translateX(-150%);
			@include transition(stroke, transform);
		}
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 1px;
		height: 100%;
		background-color: #0e65f3;
		@include transition(width);
	}

  &__wrapper {
		display: flex;
		align-items: center;
	}

	&.c-btn--light {
		span {
			color: $c-white;
		}
	}

	span,
	svg {
		z-index: 2;
		position: relative;
	}

	span {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 21px;
		letter-spacing: 0.09em;
		line-height: 42px;
		color: $c-black;
		@include transition(color);
	}

	svg {
		margin-left: 38px;
		stroke: #0e65f3;
		@include transition(stroke, transform);
	}
}

// BUTTON :: END
