// TITLE :: START

.c-label {
	display: flex;
	align-items: center;
	padding-bottom: 14px;

	&.c-label--dark {
		.c-label {
			&__line {
				background-color: $c-black;
			}
		}

		span {
			color: $c-black;
		}
	}

	&__line {
		width: 53px;
		height: 2px;
		margin-right: 10px;
		background-color: $c-white;
		@include adaptive(1365) {
			width: 43px;
		}
		@include adaptive(1023) {
			width: 33px;
		}
	}

	span {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 14px;
		letter-spacing: 0.09em;
		line-height: 42px;
		color: #fff;
		@include adaptive(1023) {
			font-size: 12px;
			line-height: 40px;
		}
	}
}

// TITLE :: END
