// LOGOTYPE :: START

.logo {
	&.logo--header {
		padding-bottom: 40px;
	}

	&__btn {
		display: flex;
		max-width: 219px;
	}

	&__img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}

// LOGOTYPE :: END
