// TITLE :: START

.c-title {
	font-weight: bold;
	color: #fff;
	@include fluid(font-size, 320px, 1920px, 35px, 85px);
	@include fluid(line-height, 320px, 1920px, 40px, 96px);

	&.c-title--big {
		font-weight: bold;
		@include fluid(font-size, 320px, 1920px, 38px, 110px);
		@include fluid(line-height, 320px, 1920px, 55px, 110px);
	}

	&.c-title--dark {
		color: $c-black;
	}

	&.c-title--blue {
		color: #0E65F3;
	}

	span {
		color: #0E65F3;
	}
}

// TITLE :: END
