// TITLE :: START

.c-title {
	font-weight: bold;
	font-size: 85px;
	line-height: 96px;
	color: #fff;

	&.c-title--dark {
		color: $c-black;
	}
	&.c-title--blue {
		color: #0E65F3;
	}
}

// TITLE :: END
