// SECTION :: START

section#a-main.a-main
	.c-grid

		p.a-main__label.c-label
			span.c-label__line
			span About company

		.a-main__wrapper

			p.a-main__title.c-title.c-title--big!= "A fusion of creativity<br>& technology to meet<br>all your digital needs."

// SECTION :: END
