// SECTION :: START

.clients {
	z-index: 3;
	position: relative;
	padding-top: 156px;
	background-color: $c-black;
	@include adaptive(1023) {
		padding-top: 106px;
	}
	@include adaptive(767) {
		padding-top: 100px;
	}

	&:after {
		content: '';
		z-index: 0;
		position: absolute;
		bottom: 48px;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: #fff;
	}

	&__wrapper {
		z-index: 2;
		position: relative;
		padding-left: 63px;
		@include adaptive(767) {
			padding-left: 0;
		}
	}

	&__title {
		padding-bottom: 124px;
		@include adaptive(767) {
			padding-bottom: 75px;

			br {
				display: none;
			}
		}
	}

	&__box {
		&-wrapper {
			position: relative;
			right: 160px;
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			max-width: 1066px;
			margin-left: auto;
			@include adaptive(1535) {
				right: auto;
				margin-right: auto;
			}
			@include adaptive(1023) {
				left: -63px;
				width: calc(100% + 63px);
			}
			@include adaptive(767) {
				left: 0;
				flex-wrap: wrap;
				width: 100%;
			}

			> div {
				width: 100%;
				max-width: calc(100% / 4);
				padding-bottom: 73px;
				@include adaptive(1023) {
					max-width: calc(100% / 3);
				}
				@include adaptive(767) {
					max-width: calc(100% / 2);
				}
			}
		}

		&-img {
			display: block;
			max-width: 100%;
			height: auto;
			@include adaptive(1023) {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	&__block {
		z-index: 3;
		position: relative;
		top: 48px;
		width: 100%;
		max-width: 1088px;
		padding: 54px 20px 52px 138px;
		background-color: #0e65f3;
		@include adaptive(1365) {
			padding: 34px 20px 32px 100px;
		}
		@include adaptive(1023) {
			padding-left: 75px;
		}
		@include adaptive(767) {
			padding-left: 55px;
		}

		&-text {
			width: 100%;
			max-width: 561px;
			font-weight: bold;
			font-size: 24px;
			line-height: 30px;
			color: #fff;
			@include adaptive(1279) {
				font-size: 22px;
			}
			@include adaptive(1023) {
				font-size: 20px;
			}
			@include adaptive(767) {
				font-size: 16px;
			}
		}
	}
}

// SECTION :: END
