// FOOTER :: START

.footer {
	position: relative;
	padding-top: 326px;
	padding-bottom: 36px;
	background-color: $c-black;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		width: 5px;
		height: 100%;
		background-color: $c-white;
	}

	.c-grid {
		max-width: 1680px;
	}

	&__wrapper {
		display: flex;

		&-1 {
			padding-left: 73px;
			padding-bottom: 90px;

			.footer__wrapper {
				&-left {
					flex: 1;
					min-width: 1px;
					max-width: 100%;
				}

				&-right {
					width: 100%;
					max-width: 536px;
					padding-top: 100px;
				}
			}
		}

		&-2 {
			align-items: center;
			padding-left: 10px;

			.footer__wrapper {
				&-left,
				&-right {
					width: 100%;
					max-width: 235px;
				}

				&-middle {
					flex: 1;
					min-width: 1px;
					max-width: 100%;
				}

				&-right {
					display: flex;
					justify-content: flex-end;
				}
			}
		}
	}

	&__row {
		display: flex;
	}

	&__col {
		width: 100%;
		max-width: 490px;
	}

	&__title {
		padding-bottom: 82px;
	}

	&__subtitle {
		padding-bottom: 84px;
		font-weight: bold;
		font-size: 35px;
		line-height: 96px;
		color: #fff;
	}

	&__heading {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 25px;
		line-height: 1;
		color: #fff;

		&--light {
			color: #8e8e8e;
		}
	}

	&__details {
		width: 100%;
		max-width: 304px;
		padding-top: 38px;

		&-wrapper {
			&:not(:last-of-type) {
				padding-bottom: 25px;
			}
		}

		&-title,
		&-description {
			font-size: 16px;
			line-height: 26px;
			color: #fff;
		}
	}

	&__line {
		width: 86px;
		height: 3px;
		margin-top: 30px;
		margin-bottom: 37px;
		background-color: #8e8e8e;
	}

	&__nav {
		display: flex;
		flex-direction: column;

		&-item {
			display: flex;
			flex-direction: column;

			&:not(:last-of-type) {
				padding-bottom: 15px;
			}
		}

		&-link {
			display: flex;
			align-items: center;
			font-size: 16px;
			color: #fff;

			&.is-active {
				svg {
					transform: scale(1);
					@include transition(transform);
				}
			}

			svg {
				transform: scale(-1);
				margin-left: 10px;
				font-size: 14px;
				backface-visibility: hidden;
				transform-origin: center;
				@include transition(transform);
			}

			&--inner {
				font-size: 16px;
				color: #8e8e8e;

				&:not(:last-of-type) {
					padding-bottom: 15px;
				}
			}

			&:not(:last-of-type) {
				padding-bottom: 15px;
			}

			&-wrapper {
				display: none;
				flex-direction: column;
				padding-top: 15px;
				padding-left: 10px;
			}
		}
	}

	&__sitemap {
		display: flex;
		align-items: center;

		&-line {
			width: 122px;
			height: 2px;
			margin-right: 16px;
			background-color: $c-white;
		}

		&-text {
			text-transform: uppercase;
			font-weight: bold;
			font-size: 14px;
			letter-spacing: 0.09em;
			line-height: 42px;
			color: #fff;
		}

		svg {
			margin-left: 16px;
			stroke: #0E65F3;
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		width: 100%;

		&-field {
			position: relative;

			&:not(:last-of-type) {
				padding-bottom: 36px;
			}

			&.is-focus {
				.footer__form-label {
					transform: translateY(-9px) scale(0.55);
					@include transition(transform);
				}
			}
		}

		&-input {
			outline: none;
			position: relative;
			width: 100%;
			height: 44px;
			border: none;
			border-bottom: 1px solid #707070;
			box-shadow: none;
			border-radius: 0;
			background-color: transparent;
			font-size: 16px;
			color: #fff;
		}

		&-label {
			white-space: nowrap;
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			align-items: center;
			width: 100%;
			height: 100%;
			padding-bottom: 36px;
			font-size: 16px;
			color: #fff;
			text-transform: uppercase;
			transform-origin: left top;
			@include transition(transform);
		}

		&-btn {
			outline: none;
			cursor: pointer;
			position: relative;
			display: flex;
			align-items: center;
			height: 61px;
			padding-left: 31px;
			border: none;
			box-shadow: none;
			background-color: transparent;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 1px;
				height: 100%;
				background-color: #0e65f3;
			}

			span {
				text-transform: uppercase;
				font-weight: bold;
				font-size: 21px;
				letter-spacing: 0.09em;
				line-height: 42px;
				color: #fff;
			}

			svg {
				margin-left: 10px;
				stroke: #0E65F3;
			}
		}
	}
}

// FOOTER :: END
