// HEADER :: START

.header {
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 45px;

	&.header--light {
		.header {
			&__nav {
				&-link {
					@include adaptive(1023) {
						&:hover {
							span {
								color: #ffffff;
							}
						}

						&.is-active {
							span {
								color: #ffffff;
							}
						}
					}

					span {
						color: #ffffff;
						@include adaptive(1023) {
							color: #000000;
						}
					}
				}
			}

			&__btn {
				background-color: $c-white;
				@include adaptive(1023) {
					background-color: #0e65f3;
				}

				&:after {
					background-color: darken($c-white, 5%);
					@include adaptive(1023) {
						background-color: darken(#0e65f3, 5%);
					}
				}

				span {
					color: $c-black;
					@include adaptive(1023) {
						color: #ffffff;
					}
				}
			}
		}

		.social__link {
			color: #ffffff;
		}
	}

	&__wrapper {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		&-left {
			padding-right: 30px;
		}

		&-right {
			display: flex;
			justify-content: flex-end;
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			@include adaptive(1365) {
				padding-left: 30px;
			}
			@include adaptive(1279) {
				padding-left: 0;
			}
		}
	}

	&__nav {
		position: relative;
		top: -2px;
		right: -2px;
		display: flex;
		width: 100%;
		max-width: 1091px;
		min-height: 124px;
		border: 2px solid #0e65f3;
		@include adaptive(1365) {
			min-height: 104px;
		}
		@include adaptive(1279) {
			min-height: 84px;
		}
		@include adaptive(1023) {
			opacity: 0;
			visibility: hidden;
			transform: translateY(50px);
			overflow: hidden;
			z-index: 1500;
			position: fixed;
			top: 0;
			left: 0;
			flex-direction: column;
			width: 100%;
			height: 100%;
			padding-top: 20px;
			border-color: #fff;
			background-color: rgba(#fff, 0.975);
			backface-visibility: hidden;
			transform-origin: center;
			@include transition(opacity, visibility, transform);

			&.is-open {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
				@include transition(opacity, visibility, transform);
			}
		}

		&-close {
			position: absolute;
			top: 10px;
			right: 17px;
			display: none;
			align-items: center;
			justify-content: center;
			width: 36px;
			height: 24px;
			@include adaptive(1023) {
				display: flex;
			}

			.icon-font {
				color: #0e65f3;
				font-size: 24px;
			}
		}

		&-left {
			display: flex;
			flex-direction: column;
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			@include adaptive(1023) {
				justify-content: center;
				padding-bottom: 20px;
			}
		}

		&-right {
			width: 305px;
			@include adaptive(1365) {
				width: 275px;
			}
			@include adaptive(1279) {
				width: 205px;
			}
			@include adaptive(1023) {
				width: 100%;
			}
		}

		&-list {
			display: flex;
			width: 100%;
			height: 100%;
			@include adaptive(1023) {
				flex-direction: column;
				height: 100%;
				max-height: 550px;
			}
		}

		&-item {
			width: 100%;
			max-width: calc(100% / 5);
			height: 100%;
			@include adaptive(1023) {
				max-width: calc(100% / 3);
			}
		}

		&-link {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			@include adaptive(1023) {
				justify-content: flex-start;
				padding-left: 20px;
			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 3px;
				height: 100%;
				background-color: #0e65f3;
				transform: scaleY(0);
				transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
			}

			&:hover {
				&:before {
					transform: scaleY(1);
					width: calc(100% + 1px);
				}

				span {
					color: #ffffff;
					transition-delay: 0.35s;
					@include transition(color);
				}
			}

			&.is-active {
				width: calc(100% + 1px);
				background-color: #0e65f3;
			}

			span {
				z-index: 2;
				position: relative;
				text-transform: uppercase;
				font-size: 14px;
				letter-spacing: 0.1em;
				line-height: 21px;
				color: #000;
				transition-delay: 0.35s;
				@include transition(color);
				@include adaptive(1279) {
					font-size: 12px;
				}
				@include adaptive(1023) {
					font-size: 14px;
					font-weight: 700;
				}
			}
		}
	}

	&__btn {
		overflow: hidden;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 123px;
		background-color: #0e65f3;
		@include adaptive(1365) {
			height: 104px;
		}
		@include adaptive(1279) {
			height: 84px;
		}
		@include adaptive(1023) {
			height: 75px;
		}

		&:after {
			content: '';
			position: absolute;
			top: -10px;
			right: 0;
			width: 33%;
			height: calc(100% + 20px);
			background-color: lighten(#0e65f3, 5%);
			transform: translateX(150%) skewX(-15deg);
			@include transition(transform);
		}

		&:hover {
			&:after {
				transform: translateX(-350%) skewX(-15deg);
				@include transition(transform);
			}
		}

		span {
			z-index: 2;
			position: relative;
			font-weight: bold;
			font-size: 21px;
			letter-spacing: 0.09em;
			color: #fff;
			@include adaptive(1365) {
				font-size: 18px;
			}
			@include adaptive(1279) {
				font-size: 16px;
			}
		}
	}

	.hamburger {
		display: none;
		@include adaptive(1023) {
			display: flex;
		}
	}
}

// HEADER :: END
