// HEADER :: START

.header {
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-top: 45px;

	&.header--light {
		.header {
			&__nav {
				&-link {
					span {
						color: #ffffff;
					}
				}
			}

			&__btn {
				background-color: $c-white;

				&:after {
					background-color: darken($c-white, 5%);
				}

				span {
					color: $c-black;
				}
			}
		}

		.social__link {
			color: #ffffff;
		}
	}

	&__wrapper {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		&-left {
			padding-right: 30px;
		}

		&-right {
			display: flex;
			justify-content: flex-end;
			flex: 1;
			min-width: 1px;
			max-width: 100%;
		}
	}

	&__nav {
		position: relative;
		top: -2px;
		right: -2px;
		display: flex;
		width: 100%;
		max-width: 1091px;
		min-height: 124px;
		border: 2px solid #0e65f3;

		&-left {
			display: flex;
			flex-direction: column;
			flex: 1;
			min-width: 1px;
			max-width: 100%;
		}

		&-right {
			width: 305px;
		}

		&-list {
			display: flex;
			width: 100%;
			height: 100%;
		}

		&-item {
			width: 100%;
			max-width: calc(100% / 5);
			height: 100%;
		}

		&-link {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 3px;
				height: 100%;
				background-color: #0e65f3;
				transform: scaleY(0);
				transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
			}

			&:hover {
				&:before {
					transform: scaleY(1);
					width: calc(100% + 1px);
				}

				span {
					color: #ffffff;
					transition-delay: 0.35s;
					@include transition(color);
				}
			}

			&.is-active {
				background-color: #0e65f3;
			}

			span {
				z-index: 2;
				position: relative;
				text-transform: uppercase;
				font-size: 14px;
				letter-spacing: 0.1em;
				line-height: 21px;
				color: #000;
				transition-delay: 0.35s;
				@include transition(color);
			}
		}
	}

	&__btn {
		overflow: hidden;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 123px;
		background-color: #0e65f3;

		&:after {
			content: '';
			position: absolute;
			top: -10px;
			right: 0;
			width: 33%;
			height: calc(100% + 20px);
			background-color: lighten(#0e65f3, 5%);
			transform: translateX(150%) skewX(-15deg);
			@include transition(transform);
		}

		&:hover {
			&:after {
				transform: translateX(-350%) skewX(-15deg);
				@include transition(transform);
			}
		}

		span {
			z-index: 2;
			position: relative;
			font-weight: bold;
			font-size: 21px;
			letter-spacing: 0.09em;
			color: #fff;
		}
	}
}

// HEADER :: END
