// SECTION :: START

.request {
	z-index: 4;
	position: relative;
	padding-top: 156px;
	background-color: #0e65f3;
	@include adaptive(1023) {
		padding-top: 106px;
	}
	@include adaptive(767) {
		padding-top: 80px;
	}

	&__wrapper {
		display: flex;
		padding-left: 63px;
		@include adaptive(1599) {
			padding-left: 0;
		}
		@include adaptive(1023) {
			flex-wrap: wrap;
		}

		&-left {
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			padding-right: 50px;
			padding-bottom: 189px;
			@include adaptive(1023) {
				padding-right: 0;
				padding-bottom: 0;
			}
		}

		&-right {
			width: 100%;
			max-width: 812px;
			@include adaptive(1599) {
				max-width: 712px;
			}
			@include adaptive(1279) {
				max-width: 50%;
			}
			@include adaptive(1023) {
				max-width: 100%;
			}
		}
	}

	&__title {
		padding-bottom: 80px;
		@include adaptive(767) {
			padding-bottom: 55px;
		}
	}

	&__subtitle {
		padding-bottom: 31px;
		font-weight: bold;
		font-size: 34px;
		line-height: 50px;
		color: #fff;
		@include adaptive(1279) {
			font-size: 30px;
		}
		@include adaptive(767) {
			padding-bottom: 20px;
			font-size: 26px;
		}

		&-2 {
			padding-top: 25px;
			@include adaptive(767) {
				padding-bottom: 40px;
			}
		}
	}

	&__desc {
		width: 100%;
		max-width: 611px;
		padding-bottom: 38px;
		font-size: 24px;
		line-height: 38px;
		color: #fff;
		@include adaptive(1279) {
			font-size: 20px;
		}
		@include adaptive(767) {
			font-size: 18px;
		}
	}

	&__tel {
		display: flex;
		font-weight: bold;
		font-size: 44px;
		line-height: 50px;
		color: #fff;
		@include adaptive(1279) {
			font-size: 38px;
		}
		@include adaptive(767) {
			font-size: 30px;
		}
	}

	&__box {
		position: relative;
		top: 250px;
		display: flex;
		flex-direction: column;
		padding: 63px 80px 69px 138px;
		background-color: $c-white;
		@include adaptive(1599) {
			padding: 43px 60px 49px;
		}
		@include adaptive(1023) {
			top: 100px;
		}
		@include adaptive(767) {
			top: 75px;
			padding: 40px 20px 40px;
		}

		&-title {
			padding-bottom: 31px;
			font-weight: bold;
			font-size: 34px;
			line-height: 50px;
			color: #000;
			@include adaptive(1279) {
				padding-bottom: 24px;
				font-size: 30px;
			}
			@include adaptive(767) {
				padding-bottom: 20px;
				font-size: 26px;
			}

			&-2 {
				padding-bottom: 52px;
				@include adaptive(1279) {
					padding-bottom: 42px;
				}
				@include adaptive(767) {
					padding-bottom: 40px;
				}
			}
		}

		&-desc {
			padding-bottom: 40px;
			font-size: 24px;
			line-height: 38px;
			color: #2b2b2b;
			@include adaptive(1279) {
				padding-bottom: 30px;
				font-size: 20px;
			}
			@include adaptive(767) {
				font-size: 18px;
				padding-bottom: 20px;
			}
		}

		&-checkbox {
			padding-bottom: 27px;
			padding-left: 17px;
			@include adaptive(1279) {
				padding-left: 0;
				padding-bottom: 17px;
			}
			@include adaptive(767) {
				padding-bottom: 20px;
			}

			.c-checkbox {
				padding-bottom: 40px;
				@include adaptive(1279) {
					padding-bottom: 20px;
				}
			}
		}

		&-btn {
			outline: none;
			cursor: pointer;
			overflow: hidden;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: calc(100% - 44px);
			height: 123px;
			box-shadow: none;
			border: none;
			border-radius: 0;
			background-color: #0e65f3;
			@include adaptive(1279) {
				width: 100%;
				height: 103px;
			}
			@include adaptive(767) {
				height: 83px;
			}

			&:after {
				content: '';
				position: absolute;
				top: -10px;
				right: 0;
				width: 33%;
				height: calc(100% + 20px);
				background-color: lighten(#0e65f3, 5%);
				transform: translateX(150%) skewX(-15deg);
				@include transition(transform);
			}

			&:hover {
				&:after {
					transform: translateX(-350%) skewX(-15deg);
					@include transition(transform);
				}

				svg {
					animation-fill-mode: both;
					animation: hoverBtn ease-out 0.3s;
				}
			}

			span,
			svg {
				z-index: 2;
				position: relative;
			}

			span {
				text-transform: uppercase;
				font-weight: bold;
				font-size: 21px;
				letter-spacing: 0.09em;
				line-height: 42px;
				color: #fff;
				@include adaptive(1279) {
					font-size: 17px;
				}
				@include adaptive(767) {
					font-size: 15px;
				}
			}

			svg {
				margin-left: 42px;
				stroke: #fff;
				@include adaptive(1279) {
					margin-left: 22px;
				}
			}
		}
	}
}

// SECTION :: END
