// SECTION :: START

.services {
	position: relative;
	padding-top: 20px;

	&.services--wwd {
		padding-top: 158px;
	}

	&__bg {
		z-index: 0;
		position: absolute;
		top: 37px;
		left: 0;
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: calc(100% - 37px);

		&-line {
			width: 1px;
			height: 100%;
			background-color: #8E8E8E;
			@include adaptive(1023) {
				&:last-of-type {
					display: none;
				}
			}
		}
	}

	&__wrapper {
		position: relative;
	}

	&__content {
		z-index: 2;
		position: relative;
		padding-bottom: 107px;
		@include adaptive(1279) {
			padding-bottom: 87px;
		}
		@include adaptive(1023) {
			padding-bottom: 50px;
		}
	}

	&__title {
		padding-left: 63px;
		padding-bottom: 81px;
	}

	&__box {
		width: 100%;
		max-width: 425px;
		padding-left: 30px;
		@include adaptive(1279) {
			padding-left: 15px;
			padding-right: 15px;
		}

		&-wrapper {
			display: flex;
			flex-wrap: wrap;

			> div {
				width: 100%;
				max-width: calc(100% / 3);
				padding-bottom: 73px;
				@include adaptive(1279) {
					padding-bottom: 53px;
				}
				@include adaptive(1023) {
					max-width: calc(100% / 2);
				}
			}
		}

		&-num {
			padding-bottom: 8px;
			font-size: 16px;
			line-height: 28px;
			color: #000;
		}

		&-title {
			padding-bottom: 28px;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 24px;
			line-height: 30px;
			color: #000;
			@include adaptive(1279) {
				font-size: 20px;
			}
			@include adaptive(1023) {
				padding-bottom: 20px;
				font-size: 18px;
			}
		}

		&-desc {
			padding-bottom: 35px;
			font-size: 18px;
			line-height: 28px;
			color: #000;
			@include adaptive(1279) {
				font-size: 16px;
			}
		}
	}
}

// SECTION :: END
