// SECTION :: START

section#about.about
	.c-grid

		.about__wrapper.about__wrapper-1

			.about__wrapper-left

				p.about__label.c-label.c-label--dark
					span.c-label__line
					span About company

				p.about__title.c-title.c-title--dark!= "Let’s rock the <br>world with our <br>ideas"
				p.about__desc We are a full service marketing agency in Toronto and San Diego that puts you first. From brand development, website design, social media management and content marketing, to designing your next powerful ad campaign, we work to understand your consumers, your markets and what you need. We help you navigate any complex challenges and make it all easy to understand.

			.about__wrapper-right

				.about__img
					img(src="img/img-about.jpg" srcset="img/img-about@2x.jpg 2x" alt="")

		.about__wrapper.about__wrapper-2

			.about__wrapper-left
			.about__wrapper-right

				.about__block
					p.about__block-text We don’t work only on technical requirements; our philosophy is to make your business work.

// SECTION :: END
