// SECTION :: START

section#do.do
	.c-grid
		.do__wrapper

			p.do__title.c-title(data-aos="fade-up") What We Do

			.do__content
				p.do__subtitle(data-aos="fade-up" data-aos-delay='100') We help clients grow their business. It’s that simple.
				p.do__desc.do__desc-1(data-aos="fade-up" data-aos-delay='150') Since 2011 we have helped businesses online and offline achieve their business objectives, placing their brand strategy, websites, social media and marketing campaigns in the forefront of consumer consciousness.
				p.do__desc.do__desc-2(data-aos="fade-up" data-aos-delay='200') Ranked as a top Toronto marketing agency, we are driven by results, and provide unique solutions to marketing challenges. Through careful planning and strategic development, we place your needs at the center of all our work. In our view, relationships are stronger than contracts, which is why we value transparency and communication above all else.

				.do__btn-wrapper.c-btn__wrapper(data-aos="fade-up")
					a.do__btn.c-btn.c-btn--light(href="#")
						span View More
						+iconSVG('arrow-right')

// SECTION :: END
