// SECTION :: START

section#wwd-main.wwd-main.lazy-background
	.c-grid

		p.wwd-main__label.c-label(data-aos="fade-up")
			span.c-label__line
			span what we do

		.wwd-main__wrapper

			p.wwd-main__title.c-title.c-title--big(data-aos="fade-up" data-aos-delay='100')!= "We create useful <br>things for brands <br>we believe in."
			a.wwd-main__btn(href="#" data-aos="fade-up" data-aos-delay='150')
				span REQUEST FREE CONSULTATION
				+iconSVG('arrow-right')

// SECTION :: END
