// SECTION :: START

section#wwd-main.wwd-main
	.c-grid

		p.wwd-main__label.c-label
			span.c-label__line
			span what we do

		.wwd-main__wrapper

			p.wwd-main__title.c-title.c-title--big!= "We create useful <br>things for brands <br>we believe in."
			a.wwd-main__btn(href="#")
				span REQUEST FREE CONSULTATION
				+iconSVG('arrow-right')

// SECTION :: END
