// SECTION :: START

section#relationships.relationships
	.c-grid
		.relationships__wrapper

			p.relationships__title.c-title(data-aos="fade-up")!= "<span>At Bloomtec</span>, <br>Relationships come first <br>everything else follows."
			p.relationships__desc(data-aos="fade-up") We take pride in having strong relationships with our clients. To us, business is more than just a handshake and a signed contract. Through our full suite of services, we help businesses reach their goals and maximize return on investment while focusing on transparency and communication.


// SECTION :: END
