// SECTION :: START

.wwd-main {
	position: relative;
	padding-top: 327px;
	padding-bottom: 155px;
	background-color: #0E65F3;
	background-image: url('../img/img-wwd-main-bg@2x.png');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	@include adaptive(1023) {
		padding-top: 287px;
		padding-bottom: 115px;
	}
	@include adaptive(767) {
		padding-top: 231px;
		padding-bottom: 100px;
	}

	&.visible {
		background-image: url('../img/img-wwd-main-bg@2x.png');
	}

	&:after {
		content: '';
		z-index: 1;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 324px;
		background: linear-gradient(rgba(0, 0, 0, 0) 0%, #000 100%);
		@include adaptive(767) {
			height: 100px;
		}
	}

	&__wrapper {
		z-index: 2;
		position: relative;
	}

	&__label {
		padding-bottom: 22px;
		@include adaptive(767) {
			padding-bottom: 20px;
		}
	}

	&__title {
		padding-bottom: 81px;
		@include adaptive(767) {
			padding-bottom: 55px;

			br {
				display: none;
			}
		}
	}

	&__btn {
		overflow: hidden;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 549px;
		height: 123px;
		background-color: #0E65F3;
		@include adaptive(1023) {
			max-width: 509px;
			height: 100px;
		}
		@include adaptive(767) {
			height: 75px;
		}

		&:after {
			content: '';
			position: absolute;
			top: -10px;
			right: 0;
			width: 33%;
			height: calc(100% + 20px);
			background-color: lighten(#0e65f3, 5%);
			transform: translateX(150%) skewX(-15deg);
			@include transition(transform);
		}

		&:hover {
			&:after {
				transform: translateX(-350%) skewX(-15deg);
				@include transition(transform);
			}

			svg {
				animation-fill-mode: both;
				animation: hoverBtn ease-out 0.3s;
			}
		}

		span,
		svg {
			z-index: 2;
			position: relative;
		}

		span {
			text-transform: uppercase;
			font-weight: bold;
			font-size: 21px;
			letter-spacing: 0.09em;
			line-height: 42px;
			color: #fff;
			@include adaptive(1023) {
				font-size: 19px;
			}
			@include adaptive(767) {
				font-size: 15px;
			}
		}

		svg {
			margin-left: 35px;
			stroke: #fff;
		}
	}
}

// SECTION :: END
