// SECTION :: START

.wwd-main {
	position: relative;
	padding-top: 338px;
	padding-bottom: 155px;
	background-color: #0E65F3;
	background-image: url('../img/img-wwd-main-bg@2x.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	&:after {
		content: '';
		z-index: 1;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 324px;
		background: linear-gradient(rgba(0, 0, 0, 0) 0%, #000 100%);
	}

	&__wrapper {
		z-index: 2;
		position: relative;
	}

	&__title {
		padding-bottom: 70px;
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 549px;
		height: 123px;
		background-color: #0E65F3;

		span {
			text-transform: uppercase;
			font-weight: bold;
			font-size: 21px;
			letter-spacing: 0.09em;
			line-height: 42px;
			color: #fff;
		}

		svg {
			margin-left: 35px;
			stroke: #fff;
		}
	}
}

// SECTION :: END
