// SECTION :: START

.relationships {
	padding-top: 147px;
	background-color: $c-black;

	&__wrapper {
		position: relative;
		padding-left: 63px;
		padding-bottom: 161px;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 1px;
			height: 100%;
			background-color: #0e65f3;
		}
	}

	&__title {
		padding-bottom: 86px;
	}

	&__desc {
		width: 100%;
		max-width: 812px;
		font-size: 24px;
		line-height: 38px;
		color: #fff;
	}
}

// SECTION :: END
