// SECTION :: START

.relationships {
	padding-top: 147px;
	background-color: $c-black;
	@include adaptive(1023) {
		padding-top: 107px;
	}
	@include adaptive(767) {
		padding-top: 75px;
	}

	&__wrapper {
		position: relative;
		padding-left: 63px;
		padding-bottom: 161px;
		@include adaptive(767) {
			padding-left: 20px;
			padding-bottom: 100px;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 1px;
			height: 100%;
			background-color: #0e65f3;
		}
	}

	&__title {
		padding-bottom: 86px;
		@include adaptive(767) {
			padding-bottom: 40px;

			br {
				display: none;
			}
		}
	}

	&__desc {
		width: 100%;
		max-width: 812px;
		font-size: 24px;
		line-height: 38px;
		color: #fff;
		@include adaptive(767) {
			font-size: 18px;
		}
	}
}

// SECTION :: END
