.icon-arrow-right {
  width:(16)*1px;
  height:(16)*1px;
}
.icon-checkmark {
  width:(17.421)*1px;
  height:(15.108)*1px;
}
.icon-corner {
  width:(16)*1px;
  height:(10)*1px;
}
.icon-top-arrow {
  width:(29.707)*1px;
  height:(17.414)*1px;
}
